<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ctrl.content.name}}
                <!--<small>Subheading</small> még nincs alcím de legyen-->
            </h1>
            <ol class="breadcrumb">
                <li><a data-ng-href="/">Home</a>
                </li>
                <li class="active">{{ctrl.content.name}}</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-ng-repeat="(key, picture) in ctrl.content.pictures" data-target="#carousel-example-generic" data-slide-to="{{key}}" class="{{key==0?'active':''}}"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item {{key==0?'active':''}}" data-ng-repeat="(key, picture) in ctrl.content.pictures">
                        <img class="img-responsive" src="{{picture}}" alt="">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <h3>{{ctrl.content.name}}</h3>
            <p>{{ctrl.content.lead}}</p>
            <p>{{ctrl.content.text}}</p>
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -> még nincs related stuff de legyen vagy termékek vagy contentek még meglátom
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

    </div> -->
    <!-- /.row -->

    <hr>



</div>